$primary: #737955;
$primary-light: #C8C6B1;
$secondary: #53242C;
$secondary-light: #B2393E;
$secondary-lighter: #CF514A;

$black: #160101;
$white: #f8efef;

$hover-text: #fff7b7;
$active-text: #e48686;

@import './site.scss';
@import './units.scss';
@import './components.scss';