
.content {
    // height: 100vh;
    background-color: $secondary-lighter;
}

.header {
    font-family: 'Rubik Bubbles', sans-serif;
    color: $white;
    font-size: 4rem;
    background-color: $secondary-light;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-container {
    color: $white;
    background-color: $secondary-lighter;
    font-family: 'Dhurjati', sans-serif;
    font-size: 2rem;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    .navbar {
        align-items: center;
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        justify-items: center;
    
        &__navlink {
            color: $white;
            text-transform: none;
            transition: 200ms;

            &:hover {
                color: $hover-text;
            }

            &:active {
                color: $active-text;
            }
        }
    }
}

.main {
    min-height: calc(100vh - 400px);
    background-color: $white;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__main-content {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.about {
    display: flex;
    &__left {
        width: 50%;
        img {
            width: 100%;
        }
    }
    &__left-content {
        margin: 2rem;
    }

    &__right {
        width: 50%;
    }
    &__right-content {
        margin: 1.5rem;
    }
}

.not-found {
}

.footer {
    color: $white;
    background-color: $secondary-light;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__navlink {
        color: $white;
        text-transform: none;
        transition: 200ms;

        &:hover {
            color: $hover-text;
        }

        &:active {
            color: $active-text;
        }
    }

    svg {
        width: 2rem;
        margin: .5rem;
    }
}