$primary: #5D7599;
$primary-light: #ABB6C8;
$primary-lighter: #DADADA;
$secondary: #F7F0C6;
$secondary-lighter: #C2C4B6;

.pet-game {
    font-family: "Dhurjati", sans-serif;
    border: 2px solid $primary;
    border-radius: 1rem;
    width: 500px;
    height: 400px;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;

    img {
        width: 100px;
    }

    &__stats {
        font-size: 1.4rem;
        display: flex;
        justify-content: space-evenly;
        border-radius: .8rem .8rem 0 0;
    }

    &__stats-value {
        color: $white;
        font-size: 1.2rem;
    
        &--excellent {
            color: green;
        }
    }

    &__container {
    }

    &__messages {
        font-size: 1.2rem;
        padding: 1rem;
        color: $primary;
        background-color: $primary-lighter;
        border-radius: 0 0 .8rem .8rem;

        p {
            margin: 0;
        }
    }
}